In [1]:
import pandas as pd

In [2]:
df = pd.read_csv('Section_3.csv')

In [13]:
per100 = df['Business_ID'].value_counts(normalize=True).mul(100).round(1).astype(str) + '%'

In [14]:
per = df['Business_ID'].value_counts(normalize=True)

In [15]:
c = df['Business_ID'].value_counts()

In [16]:
pd.DataFrame({'counts': c, 'per': per, 'per_100': per100})

                        counts       per per_100
4bEjOyTaDG24SY5TxsaUNQ     856  0.003761    0.4%
2e2e7WgqU1BnpxmQL5jbfw     744  0.003269    0.3%
zt1TpTuJ6y9n551sw9TaEg     656  0.002882    0.3%
Xhg93cMdemu5pAMkDoEdtQ     543  0.002386    0.2%
YNQgak-ZLtYJQxlDwN-qIg     531  0.002333    0.2%
...                        ...       ...     ...
Ds5daIwC_cr_LcPhWx7f3g       1  0.000004    0.0%
VF0tTQAgrWVNWXoDhUnWzw       1  0.000004    0.0%
LTirKJ8bGI2_feR6oEnS6Q       1  0.000004    0.0%
TZLgXAXfsC0IO94O-VgmnQ       1  0.000004    0.0%
nRofvVC891VnsRJbacEsDw       1  0.000004    0.0%

[30276 rows x 3 columns]

In [27]:
df.loc[df['Business_ID'] == '4bEjOyTaDG24SY5TxsaUNQ']

,Review_Date,Review_Text,User_ID,Business_ID,Business_Name,Business_Category,City,State,Latitude,Longitude,Avg_Business_Star_Rating
291,2014-07-15,I've eaten here many times. Every time is deli...,qzb1AwNqJbVly1Cm2ziY6A,4bEjOyTaDG24SY5TxsaUNQ,Mon Ami Gabi,Breakfast & Brunch,Las Vegas,NV,36.112952,-115.172589,4.0
708,2014-07-14,"Disappointed in the service, ambiance, & food....",CatKFlIPqxChN1Tu0LkYmw,4bEjOyTaDG24SY5TxsaUNQ,Mon Ami Gabi,Breakfast & Brunch,Las Vegas,NV,36.112952,-115.172589,4.0
813,2014-07-14,My family and I came here while they were in f...,XDxUN0fFwbJr4tTQgeLbKQ,4bEjOyTaDG24SY5TxsaUNQ,Mon Ami Gabi,Breakfast & Brunch,Las Vegas,NV,36.112952,-115.172589,4.0
1121,2014-07-12,The ambiance a incredible in the front window ...,yrRvVqjJlPmTuQsZ7hNV8g,4bEjOyTaDG24SY5TxsaUNQ,Mon Ami Gabi,Breakfast & Brunch,Las Vegas,NV,36.112952,-115.172589,4.0
1641,2014-07-11,What a fantastic restaurant!!! I recently stay...,4r6sGV31mtEpP87idj9EYA,4bEjOyTaDG24SY5TxsaUNQ,Mon Ami Gabi,Breakfast & Brunch,Las Vegas,NV,36.112952,-115.172589,4.0
...,...,...,...,...,...,...,...,...,...,...,...
226000,2007-04-03,LUNCH - Mon Ami Gabi has pretty tasty food acc...,QKznf6dT3owHD1LUDxXU7Q,4bEjOyTaDG24SY5TxsaUNQ,Mon Ami Gabi,Breakfast & Brunch,Las Vegas,NV,36.112952,-115.172589,4.0
226757,2006-12-18,amazing french restaurant in the paris hotel. ...,RlppHxlxAAuznZLk05STWw,4bEjOyTaDG24SY5TxsaUNQ,Mon Ami Gabi,Breakfast & Brunch,Las Vegas,NV,36.112952,-115.172589,4.0
226957,2006-10-01,Slightly noisy but great food in Vegas at a ve...,36CYHxqSj5iOzTiSFqw3yw,4bEjOyTaDG24SY5TxsaUNQ,Mon Ami Gabi,Breakfast & Brunch,Las Vegas,NV,36.112952,-115.172589,4.0
226988,2006-09-18,This is a great place for brunch -- we ended u...,ytcTacpqKG3ZeEzV0LfWkw,4bEjOyTaDG24SY5TxsaUNQ,Mon Ami Gabi,Breakfast & Brunch,Las Vegas,NV,36.112952,-115.172589,4.0
227556,2005-06-23,"Excellent food, great atmosphere, a bit noisy....",LAOHN2Z6INbwuGa3fx9UTw,4bEjOyTaDG24SY5TxsaUNQ,Mon Ami Gabi,Breakfast & Brunch,Las Vegas,NV,36.112952,-115.172589,4.0