In [1]:
import pandas as pd

In [2]:
df = pd.read_csv('Section_3.csv')

In [3]:
hotel_and_t = df['Business_Category'] == 'Hotels & Travel'

In [10]:
count = df[hotel_and_t].City.value_counts()

In [11]:
per = df[hotel_and_t].City.value_counts(normalize=True)

In [13]:
per100 = df[hotel_and_t].City.value_counts(normalize=True).mul(100).round(1).astype(str) + '%'

In [14]:
pd.DataFrame({'counts': count, 'per': per, 'per_100': per100})

                   counts       per per_100
Las Vegas           10245  0.776430   77.6%
Phoenix              1188  0.090034    9.0%
Scottsdale            633  0.047973    4.8%
Henderson             202  0.015309    1.5%
Tempe                 177  0.013414    1.3%
Edinburgh             174  0.013187    1.3%
Madison               165  0.012505    1.3%
Mesa                   99  0.007503    0.8%
Chandler               74  0.005608    0.6%
Glendale               34  0.002577    0.3%
Paradise Valley        32  0.002425    0.2%
Middleton              19  0.001440    0.1%
Goldfield              14  0.001061    0.1%
Surprise               14  0.001061    0.1%
Peoria                 13  0.000985    0.1%
Goodyear               12  0.000909    0.1%
Laveen                 10  0.000758    0.1%
Casa Grande             9  0.000682    0.1%
Gilbert                 8  0.000606    0.1%
Cambridge               7  0.000531    0.1%
Fountain Hills          7  0.000531    0.1%
Wickenburg              7  0.000531    0.1%
Gila Bend               6  0.000455    0.0%
Enterprise              6  0.000455    0.0%
Waterloo                5  0.000379    0.0%
Avondale                4  0.000303    0.0%
Kitchener               4  0.000303    0.0%
Anthem                  4  0.000303    0.0%
Verona                  3  0.000227    0.0%
Inverkeithing           2  0.000152    0.0%
Buckeye                 2  0.000152    0.0%
Florence                2  0.000152    0.0%
South Queensferry       2  0.000152    0.0%
Coolidge                2  0.000152    0.0%
Apache Junction         2  0.000152    0.0%
Tolleson                2  0.000152    0.0%
Mc Farland              1  0.000076    0.0%
Heidelberg              1  0.000076    0.0%
Clark County            1  0.000076    0.0%
Youngtown               1  0.000076    0.0%
Lasswade                1  0.000076    0.0%
Deforest                1  0.000076    0.0%